.fb_protected_wrapper  {      
  background : #F1ECDB; 
  padding : 15px 10px;
  border:1px solid #E5DCC3;
}

div.wallkit_post  {
 background: #fff;
 padding: 8px;
 border:1px solid #E5DCC3;
 margin-right: 0px;
}